$text1-margin:10px;
$padding30:15px;
@import"libs/mixins.scss";
#mapage
{
    box-shadow: 0.25rem 0.25rem 10px rgba(0,0,0,.25);

}
body
{
        font-family: "Roboto",sans-serif;
        display: flex;
        width: auto;
@include centerrow;
}
.images1 {
  @include images1;
  }
.h1
{
    text-align: center;
    word-wrap: break-word;    
}
.P
{
    text-align: center;
    word-wrap: break-word;  
    font-size: 18px;
}
a{
    text-decoration: none;
    color: black;
}

 .btnG :after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 1s;
    }
    .btnG:hover {
    background-color: #f7c2f9;
    }
    
    .btnG:hover  {
    opacity: 2;
    right: 0;
    box-shadow: 0 0px 15px rgba(0, 0, 0, .2);

    }
.btn1
{
    border: none;
    background-color: #99E2D0;
    
}

.header-container
{
    @include centerrow; 
    .header-container__logo1
    {
        width: 211px;
        height: 46px;
        padding-top:20px;
    }
}
.btnG
{
    @include btnG;
    .btnG:hover
    {
        filter: brightness(1.5);

    }
   

}

.resto-search
{
    @include centerrow;
    background-color: rgb(233, 229, 229);
    padding:$padding30;
  &__map
   {
    margin-right: 20px;   
   }
   }
   .bouton
   {
    @include centerrow;
    }
    
     .cont__Restaurant
     {
         align-self: center;

     }
     .cont__Restaurent__number
     {
        position: absolute;
        top: 1.2rem;
 right: 21rem;
 background-color: #9356DC ;
 width: 20px;
 height: 20px;
 border-radius: 50%; 
 display: flex;
 align-items: center;
 justify-content: center;
 border: none; 

     }
     .cont__Restaurant__mobile
     {
        @include cont__Restaurant__mobile;
        position: relative;

         

         .texte1
         {
             margin-left:$text1-margin;
         }
.ICON:hover
{
color: #9356DC;
}
     }
     .cont__Menu
     {
         @extend .cont__Restaurant
         
         
     }
     .cont__Degustez
     {
        @extend .cont__Restaurant

     }
    .cont__Menu__menu1
    {
        @extend.cont__Restaurant__mobile;
        .p1
        {
            margin-left:$text1-margin;
        }
        
    }
    .cont__Degustez__menu1
    {
        @extend.cont__Restaurant__mobile;
        .p1
        {
            margin-left:$text1-margin;
        }
    }
     section
     {
         background-color: #f2f2f2;
     }
     .case1
     {
    @include case1;

  
     }
     footer
     {
         background-color: rgb(43, 42, 42);
         color: white;
         padding-bottom: 0;
     .foot
{
font-family: 'Shrikhand', cursive;
margin-left: 37px;
display: block;
margin-top: 15px;
}
 ul li
 {
     list-style-type: none;
     padding: 3px;
 }
     a
    {
        text-decoration: none;
        color: white;
    }
}
.btn1
{
    position: absolute;
    padding:5px;
    margin-top: 15px;
    margin-right: 10px;  
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms; 
    @include hoverboutonpetitee;  
}
.Btn-conteneur
{
@include row-end;
}
.context1
{
    @include row-spacebetween;


.context1__text2
{
    margin-left: 10px;

}
}
.heart
{
    padding-top: 20px;
    font-size: 29px;

    
}
.heart1
{
    padding-top: 20px;
    font-size: 29px;
    
}
.heart1
{
    color: violet;
    cursor: pointer;
    display: block;
    font-size: 25px;
    opacity: 0;
    right: 27px;
    top: 2px;
    bottom: 3px;
     position: relative;
    


}
.heart1:hover {
  opacity: 1;       
  background-color: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  animation: heart 3s ;

}
@keyframes heart {
  0% {
    opacity: 0.5;
  }
  60%{
    opacity: 1;


  }
  100%{
    opacity: 2;
  }
}
.Iconheart
{
    @include row-end;
    font-size: 23px;
}
.text1
{
    padding-left: 10px;
}
.section1
{
@include centercolumn;

}
.cont
{
    @include centercolumn;
    border: 2px solid red;

}
.allcases
{
    align-items: center;
    align-self: center;
}
@media all and (min-width: 980px) 
{
.cont
{
display: flex;
justify-content: center;
flex-direction: row;
}

.header-container
{
    width:100%;
    border: 2px solid green;
}
body
{
        width:100%;
            border: 2px solid red;


}
#mapage
{
           width:100%;
               border: 2px solid blue;
               padding: 0;
               margin: 0;

 
}
.section1
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.allcases{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;

}
.case1
{
width: 600px;
}
.images1
{
width: 600px;
}
}
