$text1-margin:10px;
$padding30:15px;
$primary:#9356DC ;
$secondry:#FF79DA ;
$third:#99E2D0;
$heart-size:29px;
$width:600px;
$width-peitit-ecran:250px;
$width-full-screen:100%;


@import"libs/mixins.scss";
@import"libs/keyframesaceuil.scss";


#mapage
{
    box-shadow: 0.25rem 0.25rem 10px rgba(0,0,0,.25);
    max-width: 100%;

}
body
{
        font-family: "Roboto",sans-serif;
        display: flex;
        width: auto;
@include centerrow;
}
.images1 {
  @include images1;
  }
.h1
{
    text-align: center;
    word-wrap: break-word;    
}
.P
{
    text-align: center;
    word-wrap: break-word;  
    font-size: 18px;
}
a{
    text-decoration: none;
    color: black;
}
.chargement {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background: white;
  animation: chargement 4s forwards;
}


.titleone{
  background: -webkit-linear-gradient($secondry,$third),$third;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 100px;
  text-align: center;
  display: block;
  font-size: 55px;
font-family: 'Shrikhand', cursive;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  display: flex;
  align-items: center;
}

.list {
  position: absolute;
  width: 40px;
  height: 40px;
  background: $secondry;
  margin: 0 3px;
  border-radius: 50%;
  animation: animate 2.5s forwards;
  animation-iteration-count: 8;
}
.list:nth-child(1) {
  background: #66b3ff;
  box-shadow: 0 0 50px #66b3ff; 
  bottom: 100px;
}
.list:nth-child(2) {
  background: $secondry;
  animation-delay: 0.1s;
    box-shadow: 0 0 50px $secondry; 
    bottom: 66px;
  left: 66px;
}
.list:nth-child(3) {
  background: $primary;
  animation-delay: 0.2s;
      box-shadow: 0 0 50px $primary; 
      left: 100px;

}

.list:nth-child(4) {
  background: $third;
  animation-delay: 0.3s;
        box-shadow: 0 0 50px $third;
        top: 66px;
        left: 66px; 

}

.list:nth-child(5) {
  background: #66b3ff;
  animation-delay: 0.4s;
          box-shadow: 0 0 50px #66b3ff;
          top: 100px; 

}

.list:nth-child(6) {
  background: $secondry;
  animation-delay: 0.5s;
            box-shadow: 0 0 50px $secondry; 
            top: 66px;
            right: 26px;

}
.list:nth-child(7) {
  background:$secondry;
  animation-delay: 0.6s;
            box-shadow: 0 0 50px $secondry; 
            right: 60px;

}
.list:nth-child(8) {
  background: #66b3ff;
  animation-delay: 0.7s;
  box-shadow: 0 0 50px #66b3ff;
  bottom: 66px;
  right: 26px;
}




 .btnG :after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 1s;
    }
    .btnG:hover {
    background-color: #f7c2f9;
    }
    
    .btnG:hover  {
    opacity: 2;
    right: 0;
    box-shadow: 0 0px 15px rgba(0, 0, 0, .2);

    }
.btn1
{
    border: none;
    background-color: $third;
    
}

.header-container
{
    @include centerrow; 
    .header-container__logo1
    {
        width: 211px;
        height: 46px;
        padding-top:20px;
    }
}
.btnG
{
    @include btnG;
    .btnG:hover
    {
        filter: brightness(1.5);

    }
   

}

.resto-search
{
    @include centerrow;
    background-color: rgb(233, 229, 229);
    padding:$padding30;

  &__map
   {
    margin-right: 20px;   
   }
   }
   .bouton
   {
    @include centerrow;
    }
    
     .cont__Restaurant
     {
         align-self: center;

     }
     .cont__Restaurent__number
     {
        position: absolute;
        top: 1.2rem;
 right: 21rem;
 background-color: $primary ;
 width: 20px;
 height: 20px;
 border-radius: 50%; 
 display: flex;
 align-items: center;
 justify-content: center;
 border: none; 

     }
     .cont__Restaurant__mobile
     {
        @include cont__Restaurant__mobile;
        position: relative;

         

         .texte1
         {
             margin-left:$text1-margin;
         }
.ICON:hover
{
color: $primary;
}
     }
     .cont__Menu
     {
         @extend .cont__Restaurant
         
         
     }
     .cont__Degustez
     {
        @extend .cont__Restaurant

     }
    .cont__Menu__menu1
    {
        @extend.cont__Restaurant__mobile;
        .p1
        {
            margin-left:$text1-margin;
        }
        
    }
    .cont__Degustez__menu1
    {
        @extend.cont__Restaurant__mobile;
        .p1
        {
            margin-left:$text1-margin;
        }
    }
     section
     {
         background-color: #f2f2f2;
     }
     .case1
     {
    @include case1;

  
     }
     footer
     {
         background-color: rgb(43, 42, 42);
         color: white;
         padding-bottom: 0;
     .foot
{
  
font-family: 'Shrikhand', cursive;
margin-left: 37px;
display: block;
margin-top: 15px;
}
 ul li
 {
     list-style-type: none;
     padding: 3px;
 }
     a
    {
        text-decoration: none;
        color: white;
    }
}
.btn1
{
    position: absolute;
    padding:5px;
    margin-top: 15px;
    margin-right: 10px;  
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms; 
    @include hoverboutonpetitee;  
}
.Btn-conteneur
{
@include row-end;
}
.context1
{
    @include row-spacebetween;


.context1__text2
{
    margin-left: 10px;

}
}
.heart
{
    padding-top: 20px;
    font-size: 27px;

    
}
.heart1
{
    padding-top: 20px;
    font-size: $heart-size;
    
}
.heart1
{
  color: violet;
  cursor: pointer;
  display: block;
    font-size: $heart-size;
    opacity: 0;
    right: 28px;
    top: -1.5px;
    bottom: 3px;
     position: relative;
    


}
.heart1:hover {
  opacity: 1;       
  background: -webkit-linear-gradient($secondry,$primary );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  animation: heart 3s ;

}

.Iconheart
{
    @include row-end;
    font-size: 23px;
}
.text1
{
    padding-left: 10px;
}
.section1
{
@include centercolumn;

}
.cont
{
    @include centercolumn;

}
.allcases
{
    align-items: center;
    align-self: center;
}
@media all and (min-width: 980px) 
{
.cont
{
@include centerrow;
}

.header-container
{
    width:$width-full-screen;
}
body
{
        width:$width-full-screen;


}
#mapage
{
           width:$width-full-screen;
               padding: 0;
               margin: 0;

 
}
.section1
{
	@include startcolumn;
}
.allcases{
   @include allcases;

}
.case1
{
width: $width;
}
.images1
{
width:$width;
}
.mapage
{
   max-width: $width-full-screen;
 }
}
@media all and (max-width: 380px) 
{
    .case1{
width:$width-peitit-ecran;
}
.cont {

width:$width-peitit-ecran;
}
.images1{
    width:$width-peitit-ecran;
}
}


