@-webkit-keyframes heart {
  0% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 2;
  }
}

@keyframes heart {
  0% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 2;
  }
}

@-webkit-keyframes chargement {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes chargement {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes load {
  0% {
    height: 0;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 0;
  }
}

@keyframes load {
  0% {
    height: 0;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 0;
  }
}

@-webkit-keyframes animate {
  0%, 40%, 100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animate {
  0%, 40%, 100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#mapage {
  max-width: 100%;
  margin: 0;
  padding: 0;
  max-width: 1280px;
}

body {
  font-family: "Roboto",sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0;
}

.images1 {
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 17px;
  border-top-left-radius: 17px;
}

.h1 {
  text-align: center;
  word-wrap: break-word;
}

.P {
  text-align: center;
  word-wrap: break-word;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

.chargement {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background: white;
  -webkit-animation: chargement 4s forwards;
          animation: chargement 4s forwards;
}

.titleone {
  background: -webkit-linear-gradient(#FF79DA, #99E2D0), #99E2D0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 100px;
  text-align: center;
  display: block;
  font-size: 55px;
  font-family: 'Shrikhand', cursive;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #FF79DA;
  margin: 0 3px;
  border-radius: 50%;
  -webkit-animation: animate 2.5s forwards;
          animation: animate 2.5s forwards;
  -webkit-animation-iteration-count: 8;
          animation-iteration-count: 8;
}

.list:nth-child(1) {
  background: #66b3ff;
  -webkit-box-shadow: 0 0 50px #66b3ff;
          box-shadow: 0 0 50px #66b3ff;
  bottom: 100px;
}

.list:nth-child(2) {
  background: #FF79DA;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-box-shadow: 0 0 50px #FF79DA;
          box-shadow: 0 0 50px #FF79DA;
  bottom: 66px;
  left: 66px;
}

.list:nth-child(3) {
  background: #9356DC;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-box-shadow: 0 0 50px #9356DC;
          box-shadow: 0 0 50px #9356DC;
  left: 100px;
}

.list:nth-child(4) {
  background: #99E2D0;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-box-shadow: 0 0 50px #99E2D0;
          box-shadow: 0 0 50px #99E2D0;
  top: 66px;
  left: 66px;
}

.list:nth-child(5) {
  background: #66b3ff;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-box-shadow: 0 0 50px #66b3ff;
          box-shadow: 0 0 50px #66b3ff;
  top: 100px;
}

.list:nth-child(6) {
  background: #FF79DA;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-box-shadow: 0 0 50px #FF79DA;
          box-shadow: 0 0 50px #FF79DA;
  top: 66px;
  right: 26px;
}

.list:nth-child(7) {
  background: #FF79DA;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-box-shadow: 0 0 50px #FF79DA;
          box-shadow: 0 0 50px #FF79DA;
  right: 60px;
}

.list:nth-child(8) {
  background: #66b3ff;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  -webkit-box-shadow: 0 0 50px #66b3ff;
          box-shadow: 0 0 50px #66b3ff;
  bottom: 66px;
  right: 26px;
}

.btnG :after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.btnG:hover {
  background-color: #f7c2f9;
}

.btnG:hover {
  opacity: 2;
  right: 0;
  -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
}

.btn1 {
  border: none;
  background-color: #99E2D0;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-container .header-container__logo1 {
  width: 211px;
  height: 46px;
  padding-top: 20px;
}

.btnG {
  border: 0;
  padding: .75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), to(rgba(255, 121, 218, 0.9)));
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

.btnG .btnG:hover {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

.resto-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e9e5e5;
  padding: 15px;
}

.resto-search__map {
  margin-right: 20px;
}

.bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cont__Restaurant, .cont__Menu, .cont__Degustez {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cont__Restaurent__number {
  position: absolute;
  top: 1.2rem;
  right: 21rem;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

.cont__Restaurant__mobile, .cont__Menu__menu1, .cont__Degustez__menu1 {
  cursor: pointer;
  border: none;
  border-radius: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 23px;
  -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
  margin: 10px;
  background-color: #f2f2f2;
  width: 300px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  position: relative;
}

.cont__Restaurant__mobile .texte1, .cont__Menu__menu1 .texte1, .cont__Degustez__menu1 .texte1 {
  margin-left: 10px;
}

.cont__Restaurant__mobile .ICON:hover, .cont__Menu__menu1 .ICON:hover, .cont__Degustez__menu1 .ICON:hover {
  color: #9356DC;
}

.cont__Menu__menu1 .p1 {
  margin-left: 10px;
}

.cont__Degustez__menu1 .p1 {
  margin-left: 10px;
}

section {
  background-color: #f2f2f2;
}

.case1 {
  background-color: white;
  width: 300px;
  height: auto;
  border-radius: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

footer {
  background-color: #2b2a2a;
  color: white;
  padding-bottom: 0;
}

footer .foot {
  font-family: 'Shrikhand', cursive;
  margin-left: 37px;
  display: block;
  margin-top: 15px;
}

footer ul li {
  list-style-type: none;
  padding: 3px;
}

footer a {
  text-decoration: none;
  color: white;
}

.btn1 {
  position: absolute;
  padding: 5px;
  margin-top: 15px;
  margin-right: 10px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.btn1:hover {
  opacity: 1;
}

.Btn-conteneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.context1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.context1 .context1__text2 {
  margin-left: 10px;
}

.heart {
  padding-top: 20px;
  font-size: 27px;
}

.heart1 {
  padding-top: 20px;
  font-size: 29px;
}

.heart1 {
  color: #FF79DA;
  cursor: pointer;
  display: block;
  font-size: 29px;
  opacity: 0;
  right: 28px;
  top: -1.5px;
  bottom: 3px;
  position: relative;
}

.heart1:hover {
  opacity: 1;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: heart 3s;
          animation: heart 3s;
}

.Iconheart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 23px;
}

.text1 {
  padding-left: 10px;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.allcases {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media all and (min-width: 980px) {
  .cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-container {
    width: 100%;
  }
  body {
    width: 100%;
  }
  #mapage {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .allcases {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 5px;
  }
  .case1 {
    width: 600px;
  }
  .images1 {
    width: 600px;
  }
  .mapage {
    max-width: 100%;
  }
}

@media all and (max-width: 480px) {
  .header-container__logo1 {
    width: 120px;
    height: 34px;
  }
  .h1, .P {
    word-wrap: break-word;
  }
  .case1 {
    width: 250px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .cont {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .images1 {
    width: 250px;
  }
  #mapage {
    width: 320px;
    margin: 0;
    max-width: 100%;
  }
  .cont__Restaurent__number {
    left: -1rem;
  }
  .cont__Restaurant__mobile, .cont__Menu__menu1, .cont__Degustez__menu1 {
    width: 220px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .cont__Menu__menu1 {
    width: 220px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .cont__Degustez__menu1 {
    width: 220px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .titleone {
    font-size: 38px;
  }
  .loading {
    display: inline;
  }
}

@media (max-width: 190px) {
  .cont__Restaurent__number {
    left: -1rem;
  }
  .cont__Restaurant__mobile, .cont__Menu__menu1, .cont__Degustez__menu1 {
    width: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .cont__Menu__menu1 {
    width: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .cont__Degustez__menu1 {
    width: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  footer {
    width: auto;
  }
}

@media (min-width: 480px) and (max-width: 980px) {
  .case1 {
    width: 60%;
  }
  .allcases {
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
  }
  .images1 {
    width: 100%;
  }
}
/*# sourceMappingURL=aceuil.css.map */