$text1-margin:10px;
$padding30:15px;
$primary:#9356DC ;
$secondry:#FF79DA ;
$third:#99E2D0;
$heart-size:29px;
$width:600px;
$width-peitit-ecran250:250px;
$width220:220px;
$width-full-screen:100%;
$padding30:15px;
$heightimage450:450px;

@import"libs/mixins2.scss";
@import"libs/keyframes.scss";
#mapage
{
    height: auto;
    max-width: 1280px;
margin: 0;
padding: 0;
}
.cont1 {
   @include cont1;
  }
  .fa-check-circle {
    @include check;
  }
  .prix {
    padding: 10px;
    font-weight: bold;
  }
  .cont1__titlecase {
    @include titlecasecont1;
  }
  .cont1__titlecase h3 {
  @include cont1h3;
  }
  .container {
    @include container;
  }
  .container .check {
    margin: auto;
    border-radius: 50%;
    transition: transform 1s;
    transform: rotate(0deg);
  }
  .cont1:hover > .container .check {
    transform: rotate(180deg);
  }
  .cont1:hover > .container {
    margin-right: 0;
    width: 80px;
    height: 84px;
    transition-duration: 0.5s;
  }
h3{
    color: black;
    font-weight: 900;
    margin: 0;
  }
  h4 {
   @include h4;
  }
    body
    {
        @include centerrow;
        font-family: "Roboto",sans-serif;   
    }
    .images1 {
     @include images1;
      }
.header-container__logo1
{
 @include logo1;
 margin-right:200px;

}
    .header-container__conteneurlogo
    {
   display: flex;
   align-self: center;
   margin-right: 25%;
   margin-left: 25%;
    }
.header-container
{
@include row-spacebetween  ;
.header-container__preview 
{
    display: flex;
    align-items: center;
    align-self: center;
}
#bouttonpreview
{
    background-color: white;
}
}
.preview {
    border: none;
    font-size: 1em;
    cursor: pointer;
}
footer
{
    @include footer;
.foot
{
@include foot;
}
ul li
{
    list-style-type: none;
    padding: 3px;
}
    a
   {
       text-decoration: none;
       color: white;
   }
}
.section1
{
    @include centercolumn;
    position: relative;
    bottom: 23px;
    background-color: #f2f2f2;
    border-radius: 20px;
}
.context1
{
    @include row-spacebetween;
.context1__text2
{
    margin-left: 10px;
    font-size: 18px;
}
}
.heart
{
    padding-top: 20px;

    font-size: 28px;
}
.Iconheart
{
    @include row-end;
    margin-right: 30px;
    font-size:$heart-size;
}
.text1
{
    padding-left: 10px;
    
h3    {
    font-family: 'Shrikhand', cursive;
    }
}
.section1
{
@include section1;
    }
.cont1
{
    @include row-spacebetween;
    @include case1menu;
    margin-bottom: 10px;
    animation: translation 3s;
    transition-duration: 300ms;   
    .cont1__titlecase
    {
     margin-left: 10px;   
    }
    .cont1__prix1
    {
@include prixcont1;
   }
  }
.text
{
   @include textdemenu
}
.bouton
{
 @include centerrow;
@include boutton2;
    }
 .btn
{
    @include btn; 
}
.heart1
{
    padding-top: 20px;
    color: violet;
    cursor: pointer;
    display: block;
    font-size: 30px;
    right:29px;
    bottom: 1px;
    top: 1px;
     position: relative;
     opacity: 0;
    }
    .heart1:hover {
        opacity: 1;       
        background: -webkit-linear-gradient($primary, $secondry );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;  animation: heart 3s ;
      }
.text1
{
  margin-top: 20px;
}
.text
{
    margin: 20px;
    display: block;
}
.cont1
{
    align-items: center;
    align-self: center;
}
.containercont1
{
  @include centercolumn;
}
.containercont2
{
    @include centercolumn;
}
.containercont3
{
    @include centercolumn;
}
@media all and (min-width: 980px) 
{
.all
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body
{
  width: $width-full-screen;
}
#mapage
{
  width: $width-full-screen;
}
.images1
{
  width: $width-full-screen;
  height:$heightimage450;
}
.cont1
{
  width: 380px;
  }
span{
  display: block;
  margin: 10px;
}  
  .text {
    border-bottom: 2px solid   $third;
    width: 30px;
    margin: 15px;
    margin-top: 21px;
  }  
}
@media all and (min-width: 480px) and(max-width:980px)
{
  body{padding: 0;
  margin: 0;
  }
  #mapage
  {
    padding: 0;
    margin: 0;
    width: $width-full-screen;
  }
  .cont1
  {
    width: 80%;
  }
  .all{
    width:$width-full-screen;
  }
  .images1
  {
    width:$width-full-screen;
    height:$heightimage450;
  }
}
@media all and (min-width: 380px)and   (max-width: 480px)
{
  body{padding: 0;
    margin: 0;
    }
    #mapage
    {
      padding: 0;
      margin: 0;
      width: $width-full-screen;
    }
    .cont1
    {
      width: 80%;
    }
    .all{
      width:$width-full-screen;
    }
    .images1
    {
      width:$width-full-screen;
      height:$heightimage450;
}
}
@media all and (max-width: 380px) 
{
  .header-container__logo1    {
        width: 150px;
  height: 34px;
    }
    #mapage
{
    width: 320px;
    margin: 0;
    padding: 0;
     max-width: $width-full-screen;
}
.cont1
{
width: 80%;
}
body{
 width: $width-full-screen;
  align-items: center;
  align-self:center;
}
.images1
{
  width:$width-full-screen;
}
.section1
{
  width: 1;
}
}






  
  
  
  
  
  
