$padding30:15px;

@import"libs/mixins2.scss";
#mapage
{
    height: auto;
    border: 1px solid green;
}
    body
    {
        @include centerrow;
        font-family: "Roboto",sans-serif;

        
    }

    .images1 {
        width: 400px;
        height: 140px;
        -o-object-fit: cover;
           object-fit: cover;
        scroll-behavior: unset;
        height: 333px;
      }
.header-container__logo1
{
    width: 211px;
    height: 46px;    
    padding-top:20px;

}
    .header-container__conteneurlogo
    {
   border: 1px solid red;
   display: flex;
   align-self: center;
   margin-right: 25%;
   margin-left: 25%;
    }
.header-container
{
@include row-spacebetween  ;
.header-container__preview 
{
    display: flex;
    align-items: center;
    align-self: center;
}
#bouttonpreview
{
    background-color: white;
}
}
.preview {
    border: none;
    font-size: 1em;
    cursor: pointer;
}

footer
{
    @include footer;
    border: 1px solid greenyellow;
.foot
{
font-family: 'Shrikhand', cursive;
margin-left: 37px;
display: block;
margin-top: 15px;
}
ul li
{
    list-style-type: none;
    padding: 3px;

}
    a
   {
       text-decoration: none;
       color: white;
   }
}
.section1
{
    @include centercolumn;
}
.context1
{
    border: 1px solid violet;
    @include row-spacebetween;


.context1__text2
{
    margin-left: 10px;
    font-size: 18px;
}
}
.heart
{
    padding-top: 20px;
}
.Iconheart
{
    @include row-end;
    margin-right: 30px;
    border: 1px solid violet;
    font-size: 23px;
}
.text1
{
    padding-left: 10px;
    
h3    {
    font-family: 'Shrikhand', cursive;

    }
}
.section1
{
@include section1;

    }

.cont1
{
 
    @include row-spacebetween;
    @include case1menu;
    margin-bottom: 10px;
    animation: translation 3s;
    transition-duration: 300ms;   

    

    .cont1__titlecase
    {
     margin-left: 10px;   
 

    }
    .cont1__prix1
    {
display: flex;
flex-direction: column;
justify-content: flex-end;
        margin-top: 50px;
    }
}

.text
{
    border-bottom: 2px solid      #99E2D0;
    ;
    width:30px;
    margin: 15px;
    margin-top: 21px;
}
.bouton
{
 @include centerrow;
 margin: 20px;;
 margin-top: $padding30;
 button :after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    }
    button:hover {
    background-color: #f7c2f9;
    }
    
    button:hover  {
    opacity: 1;
    right: 0;
    }
  
 }
 .btn
{
        border: 0;
        padding: .75rem 1.5rem;
        font-weight: 500;
        font-size: 1.1rem;
        border-radius: 100px;
        color: #fff;
        background-color: #686868;
        background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
        cursor: pointer;
        transition-duration: .25s;
        box-shadow: 0.25rem 0.25rem 10px rgba(0,0,0,.25);
        .btn:hover
        {
            filter: brightness(1.5);
    
        }
    
}
@keyframes translation {
    from{
transform: translateY(100px);opacity: 0;    }
    to {
        
        opacity:1;
        transform: translateY(0);


    }
}
.text
{
    margin: 20px;
    display: block;
    
h3    {
    font-family: 'Shrikhand', cursive;

    }
}
.cont1
{
    align-items: center;
    align-self: center;
}

.containercont1
{
  border: 2px solid greenyellow;
  @include centercolumn;

}
.containercont2
{
    border: 2px solid greenyellow;
    @include centercolumn;

}
.containercont3
{
    border: 2px solid greenyellow;
    @include centercolumn;


}

@media all and (min-width: 740px) 
{

.all
{
  border: 3px solid orange;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body
{
  width: 100%;
}
#mapage
{
  width: 100%
}
.images1
{
  width: 100%;
}
.cont1
{
  width: 400px;
  }
span{
  display: block;
  margin: 10px;
}
.containercont1
{
  border: 2px solid greenyellow;
}
.containercont2
{
    border: 2px solid greenyellow;

}
.containercont3
{
    border: 2px solid greenyellow;

}
}
